<div class="cross-lockable-screen hide" data-cross-lockable-origin="<%= origin %>" data-cross-lockable-expiration-time="<%= expiration_time %>">
  <div class="cross-lockable-screen-box"></div>

  <script type="text/html" data-template-name="cross-lockable-screen">
    <%= form_for(scope, url: url, method: :post, html: { target: 'cross-lockable-iframe' }) do |f| %>

      <h2><%= title %></h2>

      <p><%= raw description %></p>

      <fieldset class="form-group password">
        <%= hidden_field_tag :token, CrossLockable::TokenGenerator.generate_security_token %>
        <%= f.hidden_field :email, value: scope.email %>

        <div class="controls col-xs-offset-1 col-xs-10">
          <div class="input-group">
            <span class="input-group-addon"><i class="icon icon-asterisk"></i></span>

            <%= f.password_field :password, required: false, class: 'form-control' %>
          </div>

          <span class="help-block lock-screen-error">
            <%= t('cross_lockable.errors.invalid_password') %>
          </span>
        </div>
      </fieldset>

      <div class="actions">
        <%= button_tag :submit, class: 'btn btn-success btn-lg', data: { disable_with: t('cross_lockable.button_loading') } do %>
          <%= content_tag(:i, nil, class: 'icon icon-key') %>
          <%= t('cross_lockable.button') %>
        <% end -%>
      </div>
    <% end %>
  </script>

  <iframe id="cross-lockable-iframe" name="cross-lockable-iframe"></iframe>
</div>
